@using (Html.Form((string)PageData["HeaderTitle"], (string)ViewBag.Title, false))
{
<div class="col-sm-6">
    <h3 class="header blue lighter smaller">
        <i class="icon-calendar-empty smaller-90"></i>
        Enviando Sinal Para Fechar as Janelas
    </h3>
</div>
}